* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("../Images/Mountain\ 06.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

.glass {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.border-half-round {
  border-radius: 0 20px;
}
.border-top-round {
  border-radius: 20px;
}

.ip {
  display: none;
}

.weather {
  max-width: 600px;
  padding: 10px;
  width: 80vw;
}

.country {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* #city-country {
  margin-left: 50px;
} */
.country {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-flag {
  width: 2rem;
  margin-left: 10px;
}

#location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-flag {
  margin-left: 10px;
  width: 4rem;
  border-radius: 10px;
}

.symbol {
  cursor: pointer;
}

.icon {
  width: 50%;
}
.temp-container {
  width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.weather-upper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
.weather-lower {
  text-align: center;
  width: 100%;
}

#weather-icon {
  width: 100%;
}
#location-input {
  background: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 10px;
  color: white;
  width: 90%;
}

#location-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.weather-bottom {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
}
.weather-bottom > span {
  text-align: center;
}

.arrow-up {
  color: rgba(0, 255, 0, 0.3);
}
.arrow-down {
  color: rgba(255, 0, 0, 0.5);
}

.temp {
  display: flex;
}

.about-me {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.9rem;
}

.location-item * {
  margin: 0px 10px;
}

.location-item {
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 0;
}

.location-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.location-cords {
  font-size: 0.6rem;
}
#weather-container {
  display: none;
}
#location-suggestion {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#location-selector img {
  height: 1.5rem;
  opacity: 0.7;
  cursor: pointer;
}
#location-selector img:hover {
  opacity: 1;
}

#location-selector {
  width: 90%;
  position: absolute;
  top: 10px;
  padding: 0 10px;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
#location-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#loading {
  border-radius: 5px;
  width: 80%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-search-spinner {
  display: none;
}

:root {
  --s-loader-wrapper-bg-color: rgb(21, 22, 43);
  --s-loader-width: 50px;
  --s-loader-height: var(--s-loader-width);
  --s-loader-border-color-trans: rgba(29, 161, 242, 0.2);
  --s-loader-border-color-full: rgb(29, 161, 242);
}

.spinning-loader {
  width: var(--s-loader-width);
  height: var(--s-loader-height);
  border: 10px solid var(--s-loader-border-color-trans);
  border-left-color: var(--s-loader-border-color-full);
  border-radius: 50%;
  background: transparent;
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

.spinning-loader-small {
  width: 20px;
  height: 20px;
  border: 5px solid var(--s-loader-border-color-trans);
  border-left-color: var(--s-loader-border-color-full);
  border-radius: 50%;
  background: transparent;
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.country {
  transition: all 0.5s ease;
}

.country:hover {
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
